*{
  margin: 0;
  padding: 0;
  color: #465166;
  /* overflow: hidden; */
  font-family: "Calibre";
}
/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d; 
}

body {
  font-family: "Calibre";
  overflow: auto !important;
}
@font-face {
  font-family: 'Calibre';
  src: url(./fonts/calibre/CalibreRegular.otf);
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.App {
  text-align: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("./images/bg.jpeg");
  background-size: 100% 100%;
}

.mobileApp {
  text-align: center;
  height: 100vh;
  background-repeat: no-repeat;
background: #1e1e20;
}

.mobile_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.mobile_Content{
  padding: 0 30px;
  
}
.lazy{
  font-size: 20px;
  margin-bottom: 1rem;
  color: white;
}
.bookedModalContent {
  max-width: 750px;
  min-height: 500px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 89, 163, 0.1);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
}
.header{
  padding: 19px 24px 13px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 89, 163, 0.15);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.heading{
  display: block;
  color: #465166;
  font-weight: 500;
    font-size: 20px;
    color: #465166;
    line-height: 30px;
}
.closeModal {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.closeModal img{
  width: 15px;
  height: 15px;
}
.contentWrapper{
  margin: 20px 40px 30px;
  background-color: #fff;
  display: block;
}
.contentHeading{
  display: block;
  color: #465166;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}
.addressCardWrap{
  display: flex;
  justify-content: space-between;
}
.addressCard{
  border: 1px solid #DDE5EB;
  box-sizing: border-box;
  padding: 15px;
  height: 100%;
  cursor: pointer;
}
.addressHeading{
  color: #465166;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
.status{
  color: #00BA67;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
.detailAddress{
  color: rgb(70 81 102 / 40%);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin: 8px 0;
}
.awayWrap{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.away{
  color: #F8931F;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
.earliestPickup{
  color: #465166;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  padding-left: 16px;
}
.thirdCard{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  margin-top: 30px;
}
.shipping{
  color: #465166;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
.selected{
  background: rgba(246, 155, 0, 0.05);
  border: 1px solid #F8931F;
}
.locationCards {
  min-height: auto;
  overflow: auto;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 34px;
}
.buttonContainer button{
  width: 250px;
}